= stylesheet_link_tag "termlib/term_styles"
= javascript_include_tag "termlib/termlib"
= javascript_include_tag "termlib/termlib_parser"
= javascript_include_tag "terminal"

%div{:id => "termDiv", :style => "position:absolute; visibility: hidden; z-index:1;"}

:javascript
  var problemDescription = '#{@question.description}';